@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

:root {
    --bg1: #151515;
    --bg2: #222222;
    --bg3: #393939;
    --wt1: #ffffff;
    --wt2: #e9e9e9;
    --mc: #e8b923;
    --sc: #5683ff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--wt1);
    background-color: var(--bg1);
    padding-left: 40px;
    padding-top: 30px;
}

.logo a {
    color: var(--wt2);
    font-size: 50px;
    font-family: 'Merienda';
    text-decoration: none;
}

/* Gradient CSS */
.blob {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 650px;
    border-radius: 100%;
    background-image: linear-gradient(#ffd900 10%, #fac30e);
    filter: blur(250px);
    transition: all 450ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: -1;
}

/* Random CSS for Demo */
.container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 90vh;
}

.content-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.content h1 {
    font-size: 3vw;
    text-align: center;
    color: var(--wt1);
}

.content p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2rem;
    font-size: 23px;    
    text-align: left;
    color: var(--wt1);
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.buttons a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    padding: 10px 2rem;
    margin: 0px 6px;
    border-radius: 25px;
    font-size: 17px;
}

.buttons a:nth-child(1) {
    color: #121212;
    background-color: #ffffff;
    transition: all .3s ease;
}

.buttons a:nth-child(1):hover {
  background: var(--bg2);
  color: #fff;
}

.buttons a:nth-child(2) {
    border: 1px solid #fff;
    transition: all .3s ease;
}

.buttons a:nth-child(2):hover {
  background: #fff;
  color: #000;
}


/* Media queries for different screen sizes */
@media only screen and (max-width: 1024px) {
    .content h1 {
        font-size: 3vw;
    }
    .blob {
        width: 50vw;
        height: 50vw;
        filter: blur(15vw);
    }
}

@media only screen and (max-width: 768px) {
    body {
        padding-left: 3vw;
        padding-top: 3vh;
    }
    .content h1 {
        font-size: 5vw;
    }
    .content p {
        font-size: 1.2rem;
    }
    .blob {
        width: 60vw;
        height: 60vw;
        filter: blur(12vw);
    }

    .logo a{
        font-size: 40px;
    }
}

@media only screen and (max-width: 480px) {
    .content-parent {
        width: 90%;
    }
    .content h1 {
        font-size: 6vw;
    }
    .content p {
        font-size: 1rem;
    }
    .buttons a {
        padding: 0.5rem 1.5rem;
    }
    .blob {
        width: 70vw;
        height: 70vw;
        filter: blur(10vw);
    }
}


@media only screen and (max-width: 320px) {
    .logo a{
        font-size: 30px;
    }
}