@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

:root {
    --bg1: #151515;
    --bg2: #292626;
    --bg3: #393939;
    --bg4: #1b1a1a;
    --wt1: #ffffff;
    --wt2: #e9e9e9;
    --mc: #e8b923;
    --sc: #5683ff;
}

body {
    line-height: 1.5;
    font-size: 16px;
    background-color: var(--bg1);
    overflow-x: hidden;
    font-family: poppins;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: large;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.register-box {
    position: relative;
    width: 90%;
    max-width: 700px;
    padding: 20px;
    background: var(--bg4);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-size: 2.5em;
    color: var(--mc);
    text-align: center;
    margin-bottom: 30px;
}

.input-box {
    position: relative;
    width: 100%;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
}

button {
    margin-top: 50px;
    width: 100%;
    max-width: 410px;
    height: 50px;
    background: var(--mc);
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.1em;
    color: #000;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}

.login-link {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.login-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-link p a:hover {
    text-decoration: underline;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    h2 {
        font-size: 2em;
    }
    .register-box {
        width: 90%;
        padding: 15px;
    }
    button {
        height: 45px;
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.8em;
    }
    .register-box {
        padding: 10px;
        width: 100%;
    }
    button {
        height: 40px;
        font-size: 0.9em;
    }
    .input-box input {
        height: 40px;
    }
}
